@use '../../2-themes/themes-dir' as themes;
@use '../utility-functions/functions-base' as functions;
@use '../utility-mixins/mixins-base' as mixins;

:root {
  font-family: themes.$ds-theme-font-family;
  font-size: themes.$ds-theme-base-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  --color-primary: #CD104D;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: #000000;
  --color-accent: #d1dce5;
  --color-background: #FFFFFF;
  --dark-mode: #000;
  --dark-mode-hf: #CD104D;
}

// body {
//     margin: 0;
//     padding: 0;
// }

/////////////////////////////////////////////////////////////////////////////
/// Utility Classes
///////////////////////////////////////////////////////////////////////////// 

$app-background-color:    black;
$ds-base-text-color:      functions.ds-color(neutral, 400);
$ds-brand-text-color:     functions.ds-color(primary, 400);
$ds-secondary-text-color: functions.ds-color(neutral, 400);
$ds-base-link-text-color: $ds-brand-text-color;



body {
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

/* 3 */
body.dark {
  --color-background: #{$app-background-color}; //#171717;
  --color-primary: #{$ds-secondary-text-color}; //#CD104D;
  --color-text: #{$ds-base-text-color};
  --color-text-light: #4f5969;
  --color-heading: #DFDFDE;
  --color-heading-black: #EDEDED;
  --color-accent: #d1dce5;
  // --image: url("../../images/moon.svg");
}

/* 4 */
body.light {
  --color-primary: #{$ds-brand-text-color}; //#CD104D;
  --color-text: #{$ds-secondary-text-color}; //#2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-background: #FFFFFF;
  // --image: url("../../images/sun.svg");
}

// html {
//   background-color: $app-background-color;
//   color: $ds-base-text-color;
// }

// Typography
.ds-H1-text-style {
  @include mixins.ds-H1-text-style();
}

.ds-H2-text-style {
  @include mixins.ds-H2-text-style();
}

.ds-H3-text-style {
  @include mixins.ds-H3-text-style();
}

.ds-H4-text-style {
  @include mixins.ds-H4-text-style();
}

.ds-H5-text-style {
  @include mixins.ds-H5-text-style();
}

.ds-H6-text-style {
  @include mixins.ds-H6-text-style();
}

.ds-subtitle1-text-style {
  @include mixins.ds-subtitle1-text-style();
}

.ds-subtitle2-text-style {
  @include mixins.ds-subtitle2-text-style();
}

.ds-body2-text-style {
  @include mixins.ds-body2-text-style();
}

.ds-body1-text-style {
  @include mixins.ds-body1-text-style();
}

.ds-caption-text-style {
  @include mixins.ds-caption-text-style();
}

.ds-overline-text-style {
  @include mixins.ds-overline-text-style();
  color: functions.ds-color(neutral, 600);
}

.ds-button-text-style {
  @include mixins.ds-button-text-style();
}

.ds-link-text-style {
  @include mixins.ds-link-text-style();
}


/////////////////////////////////////////////////////////////////////////////
/// Connecting the Typographic styles defined above to Type-HTML elements
///////////////////////////////////////////////////////////////////////////// 

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include mixins.ds-H1-text-style();
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  @include mixins.ds-H2-text-style();
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  @include mixins.ds-H3-text-style();
}

h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  @include mixins.ds-H4-text-style();
}

h5 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  @include mixins.ds-H5-text-style();
}

h6 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  @include mixins.ds-H6-text-style();
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include mixins.ds-body1-text-style();
}

ul, ol {
  margin-top: .75rem;
  margin-bottom: .75rem;
  @include mixins.ds-list-text-style();
}

a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: functions.ds-color(primary, 400);
  @include mixins.ds-link-text-style();
}

button {
  @include mixins.ds-button-text-style;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

code {
  font-size: themes.$ds-theme-base-font-size;
}

pre {
  margin: 2.5rem 0;
}
