@use '../../scss/main';
$font-stack: Helvetica, "Open Sans";
;
$primary-color: #333;

.nav-link-item {
    text-align: right;
    margin-left: 1px;
    padding-left: 1px;
}

// .navbar {
//     display: flex;
//     align-items: flex-end;
// }