@use '../../scss/main';
$font-stack: Helvetica, "Open Sans";
;
$primary-color: #333;

.nav-link-item {
    text-align: right;
    margin-left: 1px;
    padding-left: 1px;
}

// .navbar {
//     display: flex;
//     align-items: flex-end;
// }

@media all and (max-width: 600px) {

    /* We tell both sidebars to share a row */
   

    .right-navbar {
        flex: 1 0px;
        order: 1;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .brand {
        flex: 0 0 80%;
        order: 1;
        align-content: flex-start;
        align-self: flex-start;
        text-align: left !important;
    }

    .navbar {
        /*  	flex: 10 0px; */
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
        display: none;
    }

    .navbar ul {
        flex-flow: column wrap;
    }

    .navbar-toggleShow {
        display: flex;
        flex: 0 0 100%;
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
    }

    .navbar-toggle {
        flex: 0 0 10%;
        align-self: flex-start;
        display: initial;
        /*    position: absolute;*/
        cursor: pointer;
        order: 2;
    }

   

    /*  .title { flex: 1 0px; order: 1; }*/
    /*  .subtitle { flex: 1 0px; order: 2; }*/
}

/* Medium screens */
@media all and (min-width:600px) and (max-width: 800px) {

    /* We tell both sidebars to share a row */
    

    .right-navbar {
        flex: 1 0px;
        order: 1;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .brand {
        flex: 0 0 80%;
        order: 1;
        align-content: flex-start;
        align-self: flex-start;
        text-align: left !important;
    }

    .navbar {
        /*  	flex: 10 0px; */
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
        display: none;
    }

    .navbar ul {
        flex-flow: column wrap;
    }

    .navbar-toggleShow {
        display: flex;
        flex: 0 0 100%;
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
    }

    .navbar-toggle {
        flex: 0 0 10%;
        align-self: flex-start;
        display: initial;
        /*    position: absolute;*/
        cursor: pointer;
        order: 2;
    }

    
    /*  .title { flex: 1 0px; order: 1; }*/
    /*  .subtitle { flex: 1 0px; order: 2; }*/
}

/* Large screens */
@media all and (min-width: 800px) {

    /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
    

    .right-navbar {
        flex: 1 0px;
        order: 2;
        flex-flow: column wrap;
        align-self: flex-start;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .brand {
        flex: 1 0px;
        order: 1;
        align-self: flex-end;
    }

    .navbar {
        flex: 10 0px;
        order: 2;
        flex-flow: column wrap;
    }

    .navbar ul {
        flex-flow: column wrap;
    }

    .navbar-toggle {
        display: none;
        order: 3;
    }

   .container {
       max-width: variables.$grid__bp-md * 1px;
       margin: 0 auto;

       &--fluid {
           margin: 0;
           max-width: 100%;
       }

       &__row {
           display: flex;
           flex-wrap: wrap;
           width: 100%;
       }

       @each $modifier ,
       $breakpoint in $map-grid-props {
           @include create-col-classes($modifier, $grid__cols, $breakpoint);
       }
   }
}