@use '../../scss/main';
$font-stack: Helvetica, "Open Sans";
;
$primary-color: #333;

.nav-link-item {
    text-align: right;
    margin-left: 1px;
    padding-left: 1px;
}

// .navbar {
//     display: flex;
//     align-items: flex-end;
// }

@media all and (max-width: 600px) {

    /* We tell both sidebars to share a row */
   

    .right-navbar {
        flex: 1 0px;
        order: 1;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .brand {
        flex: 0 0 80%;
        order: 1;
        align-content: flex-start;
        align-self: flex-start;
        text-align: left !important;
    }

    .navbar {
        /*  	flex: 10 0px; */
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
        display: none;
    }

    .navbar ul {
        flex-flow: column wrap;
    }

    .navbar-toggleShow {
        display: flex;
        flex: 0 0 100%;
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
    }

    .navbar-toggle {
        flex: 0 0 10%;
        align-self: flex-start;
        display: initial;
        /*    position: absolute;*/
        cursor: pointer;
        order: 2;
    }

   

    /*  .title { flex: 1 0px; order: 1; }*/
    /*  .subtitle { flex: 1 0px; order: 2; }*/
}

/* Medium screens */
@media all and (min-width:600px) and (max-width: 800px) {

    /* We tell both sidebars to share a row */
    

    .right-navbar {
        flex: 1 0px;
        order: 1;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .brand {
        flex: 0 0 80%;
        order: 1;
        align-content: flex-start;
        align-self: flex-start;
        text-align: left !important;
    }

    .navbar {
        /*  	flex: 10 0px; */
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
        display: none;
    }

    .navbar ul {
        flex-flow: column wrap;
    }

    .navbar-toggleShow {
        display: flex;
        flex: 0 0 100%;
        order: 3;
        flex-flow: column wrap;
        align-content: flex-end;
    }

    .navbar-toggle {
        flex: 0 0 10%;
        align-self: flex-start;
        display: initial;
        /*    position: absolute;*/
        cursor: pointer;
        order: 2;
    }

    
    /*  .title { flex: 1 0px; order: 1; }*/
    /*  .subtitle { flex: 1 0px; order: 2; }*/
}

/* Large screens */
@media all and (min-width: 800px) {

    /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
    

    .right-navbar {
        flex: 1 0px;
        order: 2;
        flex-flow: column wrap;
        align-self: flex-start;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .brand {
        flex: 1 0px;
        order: 1;
        align-self: flex-end;
    }

    .navbar {
        flex: 10 0px;
        order: 2;
        flex-flow: column wrap;
    }

    .navbar ul {
        flex-flow: column wrap;
    }

    .navbar-toggle {
        display: none;
        order: 3;
    }

   .container {
       background-color: #88d8b0;
       padding: 10px;
       box-sizing: border-box;

       &__row {
           min-height: 30px;
           background-color: #ffeead;

           &.nested {
               background-color: #ffcc5c;
           }
       }

       @at-root {
           [class*='container__col-'] {
               &.higher {
                   min-height: 60px;
               }

               min-height: 30px;
               background-color: #ff6f69;
               outline: 1px solid #ffcc5c;
               display: flex;
               align-items: center;
               justify-content: space-around;
           }
       }
   }
}