// abstracts
@use '../1-abstracts/abstracts-dir' as variables;
// themes
@use '../2-themes/themes-dir';
// base
@use '../3-base/base-dir' as base;
@use '../4-layout/layout-dir' as layout;

$ds-primary-text-color: base.ds-color(primary, 400);
$ds-secondary-text-color: base.ds-color(neutral, 400);

.header {
    position: relative;
    background: #{$ds-primary-text-color}; //$ds-primary-text-color;
    margin-bottom: 1px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    height: 100%;
    align-items:center;
    vertical-align: center;
    
}

.headbar {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1px;
    min-width: 95%;
    height: 50%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    vertical-align: center;
    background: #C0C0C0;
}

.headbar h1 {
    margin: 0;
    min-height: 20%;
}

.headbar a {
    color: white;
    text-decoration: none;
}

.menu-togglewrap {
    order: 1;
    vertical-align: center;
    text-align: center;
    align-content: center;
    display: flex !important;
    background: #808080;
}
.brand {
    // flex: 0 0 80%;
    order: 2;
    align-content: center;
    align-self: center;
    justify-content: center;
    // padding: 1px;
    display: inline-block;
    vertical-align: middle;
    height: 50%;
    width: 10%;
    margin: auto;
    text-align: center;
    //         text-align: left !important;
    background: #800000;

}
.dark-mode-toggle {
    order: 3;
    background: #FF0000;
    padding: 0.5%;
}


.menu-button {
    cursor: pointer;
    background-color: #EEE;
    text-align: center;
    // line-height: 2em;
    padding: 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25px;
    width: 25px;
    vertical-align: center;
    align-content: center;
    margin: 0.5% auto;
    background: #800080;
}

.main-button {
    height: 25px;
    width: 25px;
    vertical-align: center;
    align-content: center;
    margin: 0.5% auto;
    background: #FF00FF;
    padding: 0.5%;
    // background-image: url('../images/menuIcon.png');
}

.close-button {
    height: 25px;
    width: 25px;
    vertical-align: center;
    // background-image: url('../images/menuClose.png');
    // background-color: initial;
    background: #008000;
}

.side-menu .close-button {
    margin-left: auto;
    padding-bottom: 1px;
    background: #00FF00;
}

.side-menu.active {
    display: flex;
    background: #808000;
}

.side-menu {
    display: none;
    // position: absolute;
    // top: 0;
    // right: 0;
    // background: white;
    // padding: 10px 20px;
    // border: 2px solid #baa4d0;
    flex-direction: column;
    justify-content: space-between;
    transform: translate3d(-280px, 0px, 0px);
    position: absolute;
    width: 280px;
    background: #263249;
    color: #eee;
    left: 0;
    height: 100%;
    transition: all .3s;
    z-index: 100;
    background: #FFFF00;
}

.side-menu ul {
    margin: 5px 0;
    // border-top: rebeccapurple thin solid;
    position: absolute;
    z-index: 101;
    background: #000080;
}

.side-menu li {
    list-style: none;
    padding: 5px;
    width: 0%;
    position: absolute;
    z-index: 102;
    background: #0000FF;
}