// // @use '../../scss/main';

// /* Position and sizing of burger button */
// .bm-burger-button {
//     position: fixed;
//     width: 36px;
//     height: 30px;
//     left: 36px;
//     top: 36px;
//     background-color: blue;
// }

// /* Color/shape of burger icon bars */
// .bm-burger-bars {
//     background: #373a47;
// }

// /* Color/shape of burger icon bars on hover*/
// .bm-burger-bars-hover {
//     background: #a90000;
// }

// /* Position and sizing of clickable cross button */
// .bm-cross-button {
//     height: 24px;
//     width: 24px;
// }

// /* Color/shape of close button cross */
// .bm-cross {
//     background: #bdc3c7;
// }

// /*
// Sidebar wrapper styles
// Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
// */
// .bm-menu-wrap {
//     position: fixed;
//     height: 100%;
// }

// /* General sidebar styles */
// .bm-menu {
//     background: #373a47;
//     padding: 2.5em 1.5em 0;
//     font-size: 1.15em;
// }

// /* Morph shape necessary with bubble or elastic */
// .bm-morph-shape {
//     fill: #373a47;
// }

// /* Wrapper for item list */
// .bm-item-list {
//     color: #b8b7ad;
//     padding: 0.8em;
// }

// /* Individual item */
// .bm-item {
//     display: inline-block;

//     color: #d1d1d1;
//     margin-bottom: 10px;
//     text-align: left;
//     text-decoration: none;
//     transition: color 0.2s;
// }

// .bm-item:hover {
//     color: #ffffff;
// }

// /* Styling of overlay */
// .bm-overlay {
//     background: rgba(0, 0, 0, 0.3);
// }

// @use '../../scss/main';

// abstracts
@use '../1-abstracts/abstracts-dir' as variables;
// themes
@use '../2-themes/themes-dir';
// base
@use '../3-base/base-dir';
@use '../4-layout/layout-dir' as layout;

$ds-primary-text-color: ds-color(primary, 400);
$ds-secondary-text-color: ds-color(neutral, 400);

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $ds-secondary-text-color;
    height: 100vh;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;

// @media (max-width: $ {
//         ({
//             theme
//         })=> theme.mobile

// }) {
//     width: 100%;
}

a {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: $ds-primary-text-color;
    text-decoration: none;
    transition: color 0.3s linear;
    position: relative;
    z-index: 103;

// @media (max-width: $ {
//         ({
//             theme
//         })=> theme.mobile

// }) {
//     font-size: 1.5rem;
//     text-align: center;
// }


    &:hover {
        color: $ds-secondary-text-color;
    }

}


// .menu-togglewrap {}


.menu-button {
    position: sticky;
    cursor: pointer;
    background-color: #EEE;
    text-align: center;
    line-height: 2em;
    padding: 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.main-button {
    position: sticky;
    height: 32px;
    width: 32px;
    z-index: 98;
    // background-image: url('../images/menuIcon.png');
}

.close-button {
    position: relative;
    height: 32px;
    width: 32px;
    // background-image: url('../images/menuClose.png');
    background-color: $ds-primary-text-color; //initial;
    background: $ds-primary-text-color;
    color: #263249;
    z-index: 105;
}

.side-menu .close-button {
    margin-left: auto;
    padding-bottom: 2px;
}

.side-menu.active {
    display: flex;
}

.side-menu {
    display: none;
    position: relative;
    // position: absolute;
    // top: 0;
    // right: 0;
    // background: white;
    // padding: 10px 20px;
    // border: 2px solid #baa4d0;
    //position: absolute;
        /* <-- added declarations */
    left: 0;
    top: 10%;
        /*     here               */
    width: 15%;
        /*     and here...        */
    flex-direction: column;
    justify-content: space-between;
    transform: translate3d(-280px, 0px, 0px);
    // position: absolute;
    //width: 280px;
    // background: #263249;
    color: $ds-secondary-text-color;
    left: 0;
    height: 100%;
    transition: all .3s;
    // width: 33.33%;
    float: left;
    z-index: 100;
}

// .side-menu ul {
//     position: sticky;
//     margin: 10px 0;
//     border-top: rebeccapurple thin solid;
//     margin-top: 5px;
//     list-style-type: none;
//     height: 0px;
//     overflow: hidden;    
//     /* <-- added declarations */
//     left: 0;
//     top: 100%;
//     /*     here               */
//     width: 100%;
//     /*     and here...        */    
//     transition: height 1s ease;
//     z-index: 101;
// }

// .side-menu li {
//     list-style: none;
//     padding: 10px;
//     width: 0%;
//     z-index: 102;
// }

.nav-link {
    position: absolute;
    margin: 10px 0;
    border-top: rebeccapurple thin solid;
    margin-top: 5px;
    list-style-type: none;
    height: 100%;
    // overflow: hidden;
    /* <-- added declarations */
    left: 500px;
    top: 100%;
    /*     here               */
    width: 100%;
    /*     and here...        */
    transition: height 1s ease;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link-item {
    // border-top: rebeccapurple thin solid;
    position: sticky;
    list-style: none;
    padding: 10px;
    width: 0%;
    z-index: 102;
    font-size: 1rem;
}